---
permalink: /
title: Method Cards
layout: none
---
<!DOCTYPE html>
<html lang='en'>
  {% include head.html %}
  <body>
    <header class="site-header">
      <div class="wrapper">
        <h1 class="logo">
          <a href="{{site.baseurl}}/">
            <img src="{{site.baseurl}}/images/18F.svg" width="72">
            Method Cards
          </a>
        </h1>
        <p>18F&rsquo;s method cards describe how our organization puts human-centered design into practice. Learn more <a href="https://github.com/18F/methods">about the project itself</a>, <a href="#fundamentals">explore the fundamentals</a>, or <a href="javascript:window.print()">print your own deck</a>.</p>
      </div>
      <div class="footer">
        <h1>Why method cards?</h1>
        <ul>
          <li>To add rigor and structure to agile development.</li>
          <li>To build a shared vocabulary for each method among 18F staff and our partner agencies.</li>
          <li>To give less experienced or new researchers a gateway into well-documented and proven research methods, supported by other 18F team members.</li>
        </ul>
        <nav>
          <h1>We&rsquo;ve grouped these methods into five phases</h1>
          <ol>
            <li>
              <a href="/discover" class="category--discover">
                <strong>Discover</strong> 
                Build empathy for the project and people involved.
              </a>
            </li>
            <li>
              <a href="/decide" class="category--decide">
                <strong>Decide</strong> 
                Focus the effort around a design hypothesis.
              </a>
            </li>
            <li>
              <a href="/make" class="category--make">
                <strong>Make</strong> 
                Create a testable solution.
              </a>
            </li>
            <li>
              <a href="/validate" class="category--validate">
                <strong>Validate</strong> 
                Test a design hypothesis.
              </a>
            </li>
            <li>
              <a href="/fundamentals" class="category--fundamentals">
                <strong>Fundamentals</strong> 
                Foundational methods for practicing design research
              </a>
            </li>
          </ol>
        </nav>
        <h1>We&rsquo;ve called out specifics about doing this work in government</h1>
        <p>For the most part, the processes are the same as anywhere. However, to stay on the happy side of the law, take a look at the cards for Recruiting, Incentives, and Privacy. No matter which methods we work with, these are the fundamentals of our design research.
      </div>
    </header>

    {% include category-setup.html %}

    <main id="main" role="main">
      <div class="wrapper">
        <section class="category category--discover" id="discover">
          <header class="category--header">
            <h1 class="category--title">Discover</h1>
            <p class="category--subtitle">Methods to build empathy for the project and people involved.</p>
            <ul>
              {% for method in discover_methods %}
                <li><a href="#{{ method.title | slugify }}">{{ method.title }}</a></li>
              {% endfor %}
            </ul>
          </header>
          {% for method in discover_methods %}
            {% include method.html %}
          {% endfor %}
        </section>
        <section class="category category--decide" id="decide">
          <header class="category--header">
            <h1 class="category--title">Decide</h1>
            <p class="category--subtitle">Methods for focusing the design effort.</p>
            <ul>
              {% for method in decide_methods %}
                <li><a href="#{{ method.title | slugify }}">{{ method.title }}</a></li>
              {% endfor %}
            </ul>
          </header>
          {% for method in decide_methods %}
            {% include method.html %}
          {% endfor %}
        </section>
        <section class="category category--make" id="make">
          <header class="category--header">
            <h1 class="category--title">Make</h1>
            <p class="category--subtitle">Methods for creating a testable solution.</p>
            <ul>
              {% for method in make_methods %}
                <li><a href="#{{ method.title | slugify }}">{{ method.title }}</a></li>
              {% endfor %}
            </ul>
          </header>
          {% for method in make_methods %}
            {% include method.html %}
          {% endfor %}
        </section>
        <section class="category category--validate" id="validate">
          <header class="category--header">
            <h1 class="category--title">Validate</h1>
            <p class="category--subtitle">Methods for testing a design hypothesis.</p>
            <ul>
              {% for method in validate_methods %}
                <li><a href="#{{ method.title | slugify }}">{{ method.title }}</a></li>
              {% endfor %}
            </ul>
          </header>
          {% for method in validate_methods %}
            {% include method.html %}
          {% endfor %}
        </section>
        <section class="category category--fundamentals" id="fundamentals">
          <header class="category--header">
            <h1 class="category--title">Fundamentals</h1>
            <p class="category--subtitle">Foundational methods for practicing design research.</p>
            <ul>
              {% for method in fundamentals_methods %}
                <li><a href="#{{ method.title | slugify }}">{{ method.title }}</a></li>
              {% endfor %}
            </ul>
          </header>
          {% for method in fundamentals_methods %}
            {% include method.html %}
          {% endfor %}
        </section>
      </div>
    </main>
  </body>
</html>
