{% assign discover_methods     = (site.methods | where: "category", "Discover" ) %}
{% assign decide_methods       = (site.methods | where: "category", "Decide" )   %}
{% assign make_methods         = (site.methods | where: "category", "Make" )     %}
{% assign validate_methods     = (site.methods | where: "category", "Validate" ) %}
{% assign fundamentals_methods = (site.methods | where: "category", "Fundamentals" ) %}
{% assign category_methods     = (site.methods | where: "category", page.title ) %}

<! -- This is used for setting category variables -->
{% capture var-category-name %}{{ page.category | downcase }}_methods{% endcapture %}
