<div class="usa-overlay"></div>
<footer class="usa-footer">
    <div class="grid-container usa-footer__return-to-top">
        <a class="usa-button usa-button--secondary" href="#">Return to top</a>
    </div>
    <div class="usa-footer__primary-section site-footer">
        <div class="usa-footer__primary-container">
            <p>This project is maintained by <a href="https://18f.gsa.gov" class="usa-link">18F</a>. To get in touch with us, head to the <a href="https://18f.gsa.gov/contact/" class="usa-link">18F contact page.</a> 
To share your feedback about the Methods site, click the <strong>Provide feedback<strong> button or open an issue or pull request on our
                <a href="https://github.com/18F/methods" class="usa-link">GitHub repository.</a></p>
        </div>
    </div>
    {% include usa_identifier.html %}
</footer>

<a id="fba-button" class="fixed-tab-button" href="https://touchpoints.app.cloud.gov/touchpoints/d028f982/submit"
    target="_blank">
    Provide feedback
</a>

<!--Add SVG for header links-->
<div style="display: none">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <symbol viewBox="0 0 24 24" id="svg-link" xmlns="http://www.w3.org/2000/svg"><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"></path></symbol>
  </svg>
</div>

<!--<script src="{{site.baseurl}}/assets/js/site.js"/>-->
<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
<script id="_fed_an_ua_tag"
    src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA&subagency=18F,TTS"></script>
