
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCRJ8BM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<a class="usa-skipnav no-print" href="#main">Skip to main content</a>
<!-- Gov banner BEGIN -->

<div class="usa-banner no-print">
    <header class="usa-banner-header">
      <div class="usa-grid usa-banner-inner">
      <img src="{{site.baseurl}}/uswds-0.14.0/img/favicons/favicon-57.png" alt="U.S. flag">
      <p>An official website of the United States government</p>
      </div>
    </header>
  </div>
<!-- Gov banner END -->
<header role="banner" class="banner">
<div class="usa-header usa-header-extended no-print">
<div class="usa-navbar">
  <button class="usa-menu-btn">Menu</button>
  <div class="usa-logo" id="logo">
    <em class="usa-logo-text">
      <a href="{{site.baseurl}}/" accesskey="1" title="Home" aria-label="Home">  <img src="{{site.baseurl}}/images/18F.svg" width="72"> Methods</a>
    </em>
  </div>
</div>
</div>
</header>
<div class="usa-header usa-header-extended no-print sticky">
<nav role="navigation" class="usa-nav">
  <div class="usa-nav-inner">

        <button class="usa-nav-close">
          <img src="{{site.baseurl}}/uswds-0.14.0/img/close.svg" alt="close">
        </button>
        <ul class="usa-nav-primary usa-accordion">
          <li>
            <button class="
            usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="side-nav-1">
              <span>Discover</span>
            </button>
            <ul id="side-nav-1" class="usa-nav-submenu" aria-hidden="true">
              {% assign discovermethods = discover_methods | sort:"title"  %}
              {% for method in discovermethods %}
                <li><a href="{{ site.baseurl }}{{ method.url }}">{{ method.title }}</a></li>
              {% endfor %}
              <li><a href="{{site.baseurl}}/discover">See all Discover cards</a></li>
            </ul>
          </li>
          <li>
            <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-2">
              <span>Decide</span>
            </button>
            <ul id="sidenav-2" class="usa-nav-submenu" aria-hidden="true">
              {% assign decidemethods = decide_methods | sort:"title"  %}
              {% for method in decidemethods %}
                <li><a href="{{ site.baseurl }}{{ method.url }}">{{ method.title }}</a></li>
              {% endfor %}
                <li><a href="{{site.baseurl}}/decide">See all Decide cards</a></li>
            </ul>
          </li>
          <li>
            <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-3">
              <span>Make</span>
            </button>
            <ul id="sidenav-3" class="usa-nav-submenu" aria-hidden="true">
              {% assign makemethods = make_methods | sort:"title"  %}
              {% for method in makemethods %}
                <li><a href="{{ site.baseurl }}{{ method.url }}">{{ method.title }}</a></li>
              {% endfor %}
                <li><a href="{{site.baseurl}}/make">See all Make cards</a></li>
            </ul>
          </li>
          <li>
            <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-4">
              <span>Validate</span>
            </button>
            <ul id="sidenav-4" class="usa-nav-submenu" aria-hidden="true">
              {% assign validatemethods = validate_methods | sort:"title"  %}
              {% for method in validatemethods %}
                <li><a href="{{ site.baseurl }}{{ method.url }}">{{ method.title }}</a></li>
              {% endfor %}
                <li><a href="{{site.baseurl}}/validate">See all Validate cards</a></li>
            </ul>
          </li>
          <li>
            <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-5">
              <span>Fundamentals</span>
            </button>
            <ul id="sidenav-5" class="usa-nav-submenu" aria-hidden="true">
              {% assign fundamentalsmethods = fundamentals_methods | sort:"title"  %}
              {% for method in fundamentalsmethods %}
                <li><a href="{{ site.baseurl }}{{ method.url }}">{{ method.title }}</a></li>
              {% endfor %}
                <li><a href="{{site.baseurl}}/fundamentals">See all Fundamentals cards</a></li>
            </ul>
          </li>
          <li>

          </li>
        </ul>
        <div class="usa-nav-secondary">
         <ul class="usa-unstyled-list usa-nav-secondary-links">
           <li>
               <a href="{{site.baseurl}}/about">About</a>
           </li>
           <li>
             <a href="{{site.baseurl}}/print/">
               Print the Methods
             </a>
           </li>
         </ul>
       </div>
  </div>
</nav>
</div>
