<article class="method" id="{{ method.title | slugify }}">
  <div class="method--panel method--panel--front">
    <h1 class="method--title"><a href="{{ site.baseurl }}{{ method.url }}">{{ method.title }}</a></h1>
    <section class="method--section method--section--what">
      <h1>What</h1>
      <p>{{ method.what }}</p>
    </section>
    <section class="method--section method--section--why">
      <h1>Why</h1>
      <p>{{ method.why }}</p>
    </section>
    <footer>
      <section class="method-section method--section--category">
        <h1>Phase</h1>
        <p>{{ method.category }}</p>
      </section>
      <section class="method-section method--section--time-required">
        <h1>Time required</h1>
        <p>{{ method.timeRequired }}</p>
      </section>
    </footer>
  </div>
  <div class="method--panel method--panel--back">
    <section class="method--section method--section--how">
      <h1>How to do it</h1>
      {{ method.how }}
    </section>
    <section class="method--section method--section--government-considerations">
      <h1>Applied in government research</h1>
      {{ method.governmentConsiderations }}
    </section>
  </div>
</article>
