{% assign this_method = include.method | default: page %}
<span class="anchor" id="{{ this_method.title | slugify }}"></span>
<article class="method" itemscope itemtype="http://schema.org/Article">
  <div class="method--panel method--panel--front">
    <h1 class="method--title" itemprop="headline"><a href="{{ site.baseurl }}{{ method.url }}">
      {% if this_method.title %}
        {{ this_method.title }}
      {% endif %}
    </a></h1>
      <h2>What</h2>
      <p>{{ this_method.what | smartify | liquify | markdownify }}</p>
      <h2>Why</h2>
      <p>{{ this_method.why | smartify | liquify | markdownify }}</p>
    <footer>
      <section class="method--section method--section--category">
        <h1>Phase</h1>
        <p>{{ this_method.category }}</p>
      </section>
      <section class="method--section method--section--time-required">
        <h1>Time required</h1>
        <p>{{ this_method.timeRequired | smartify | liquify | markdownify }}</p>
      </section>
    </footer>
  </div>
  <div class="method--panel method--panel--back">
    {{ this_method.content | smartify | liquify | markdownify }}
  </div>
  <div class="usa-sr-only">
    <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
    <span itemprop="name">18F</span>
    <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
      <img class="usa-sr-only" itemprop="url" src="{{sitebase.url}}/images/18F-Logo.png" alt="18F Logo">
       <meta itemprop="width" content="1000">
       <meta itemprop="height" content="1000">
    </span>
  </div>
  <span itemprop="author" >18F</span>
  <span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
    <img class="usa-sr-only" itemprop="url" src="{{sitebase.url}}/images/18F-Logo.png" alt="18F Logo">
     <meta itemprop="width" content="1000">
     <meta itemprop="height" content="1000">
  </span>
  <time datetime="{{ this_method.last_modified_at | date: '%Y-%m-%d' }}" itemprop="datePublished">  {{ this_method.last_modified_at | date: '%B %d, %Y' }}</time>
</div>
</article>
