

.category--header {
  background: #205493;
  color: white;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 1em;
  margin-top: 3em;
}

.category--title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: .2em;
}

.category--subtitle {
  display: inline;
  font-family: PT Sans, Trebuchet MS, Verdana, sans-serif;
  font-size: 16px;
}

.category--discover .method--title {
  color: #205493;
}

.category--decide .category--header {
  background: #29863c;
}

.category--decide .method--title {
  color: #29863c;
}

.category--make .category--header {
  background: #fac72f;
  color: #222;
}

.category--validate .category--header {
  background: #8b1625;
}
