

.category--header {
  background: #205493;
  color: white;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 1em;
  margin-top: 3em;
}

.category--title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: .2em;
  margin-top: 0;
}

.category--subtitle {
  display: inline;
  font-family: PT Sans, Trebuchet MS, Verdana, sans-serif;
  font-size: 16px;
}
