.site-footer {
  background-color: color('gray-cool-10');
  font-size: size('body', 'sm');
  padding: units(1) 0;

  .usa-footer__primary-container
  {
    padding-left: units(3);
  }
}

// Styling for heading links
.heading-permalink {
  text-decoration: none;
  opacity: 0.2;
}

a.heading-permalink:hover,
a.heading-permalink:focus {
  opacity: 1;
}