.site-footer {
  background-color: color('gray-cool-10');
  font-size: size('body', 'sm');
  padding: units(1) 0;

  .usa-footer__primary-container
  {
    padding-left: units(3);
  }
}

// Styling for heading links
.usa-icon {
  height: 1em;
  width:1em;
}

.heading-permalink {
  opacity: 0.2;
}

.heading-permalink:hover,
.heading-permalink:focus {
  opacity: 1;
}

// Visually hiding elements
.visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}