/* @group .interview-checklist */

.layout--interview-checklist h1:first-of-type {
  margin-top: 0;
}
.layout--interview-checklist h1:first-of-type + p{
  font-size: font-size('body',6);
  max-width: none;
  color: color('base-darker');
}

.layout--interview-checklist p,
.layout--interview-checklist li {
  max-width: none;
}

.layout--interview-checklist li{
  list-style-type: none;
  position: relative;
}

.layout--interview-checklist li input{
  display: block !important;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  margin: 0;
  position: absolute;
  left: -1.4em;
  top: 0.3em;
  width: auto;
  height: auto;
}

/* @end */
