/* @group .layout--example-user-interview-script */

.layout--example-user-interview-script h1,
.layout--example-user-interview-script h4,
.layout--example-user-interview-script p{
  max-width: 34em;
}


.layout--example-user-interview-script h1+p{
  font-size: 1.1em;
  max-width: 38em;
  color: #444;
}

.layout--example-user-interview-script code{ background: yellow; }

/* @end */
