/* @group .interview-debrief */

.layout--example-interview-debrief-worksheet h1,
.layout--example-interview-debrief-worksheet h1+p{
  max-width: 38em;
}

.layout--example-interview-debrief-worksheet h1 + p{
  font-size: 1.1em;
  color: #444;
}

.layout--example-interview-debrief-worksheet p,
.layout--example-interview-debrief-worksheet li {
  max-width: 32em;
}

.layout--example-interview-debrief-worksheet h3#references{ margin-top: 2em;}

/* @end */
