/* @group .layout--example-user-interview-script */

.layout--example-user-interview-script h1+p{
  font-size: font-size('body',6);
  max-width: none;
  color: color('base-darker');
}

.layout--example-user-interview-script code{ background: yellow; }

/* @end */
