

.card-header {
  margin-top: 1em;
  text-align: right;

  nav {
    ol {
      justify-content: center;
      align-items: stretch;
    }

    li {
      border-radius: 3px;
    }

    li:first-of-type {}

    li:last-of-type {}
  }


  .footer {
    line-height: 1.33em;
    margin: 0 auto;

    h1 {
      margin-top: 1.2em;
      margin-bottom: .6em;
      font-size: $font-l;
      font-family: $font-sans;
      font-weight: 700;
      color: #333;
    }
  }
}


.anchor {
  display: block;
  content: '';
  margin-top: -7rem;
  height: 7rem;
  visibility: hidden;
}
.method {
  background: $color-inverse;
  margin-bottom: 1em;
  border-bottom: none;
  position: relative;
  font-family: $font-sans;
  border-radius: 3px;
  display: table;
  margin-bottom: 3rem;



  &:target {
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
  }
    p,
   li {
  	line-height: 1.3em;
  	margin-bottom: .6em;
    margin-top: 0;
  }

  ol,
  ul {
    padding-top: .6em;
    margin-left: 1.4em;
  }

  .method--title {
  	font-size: 42px;
  	font-weight: 600;
  	font-family: $font-sans;
  	margin-top: .4em;
  	letter-spacing: -0.02em;
  	margin-bottom: .4em;
    border-top: 8px solid #333;
      a,
      a:visited {
        color: #333;
        &:hover  {
          text-decoration: none;

        }
      }

  }
  h1 {
    margin-top: 1.2em;
    margin-bottom: .6em;
    font-size: $font-l;
    font-family: $font-sans;
    font-weight: 700;
  }
  h2 {
  	font-size: $font-sans;
  	text-transform: uppercase;
  	letter-spacing: 0.02em;
  	font-weight: 700;
  	line-height: 1;
  	margin-top: 2.4em;
  	margin-bottom: 1.2em;
  }




    .method--panel {
      padding: 20px 40px;
      display: block;
      width: auto;

    }


  @media screen and (min-width: 800px) {
  .method--panel {
    padding: 20px 40px;
    display: table-cell;
    width: 50%;
    vertical-align: top;
  }
    }



  .method--section--what,
  .method--section--why {
      font-family: $font-sans;
      line-height: 1.4;
      font-size: $font-l;
  }
  .method--section--category {
    min-width: 15rem;
  }
  .method--section--time-required {
    width: 100%;
  }
  .method--section--category,
  .method--section--time-required {
  	border-top: 1px solid $color-gray-light;
    display: table-cell;
  }
  .method--section--category,
  .method--section--time-required {
    h1 {
  	font-size: $font-xs;
  	text-transform: uppercase;
  	letter-spacing: 0.02em;
  	line-height: 0.33;
  }
  }

  .method--section--how {
    h1 {
  	margin-top: 0.4em;

  }
  }


  // method--panel--front
  .method--panel--front {
    position: relative;





footer {position: relative;  width: 100%;
display:table;margin-top: 3rem;}

  @media screen and (min-width: 800px) {
    footer {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 0 40px 20px;
      display: table;
    }

  }


}

@media screen and (min-width: 800px) {
  .method--panel--front {
    position: relative;
    padding-bottom:15rem;
  }
}

  // method--panel--back
  .method--panel--back {
  	font-size: $font-s;
  	background: $color-gray-lightest;

    a {text-decoration: underline;}

    h1 {
      font-size: $font-m;
    }

    h2 {
      font-family: $font-sans;
      line-height: 1.3em;
      font-size: $font-m;
      text-transform: none;
      margin-top: 0;
      margin-bottom: .6rem;
    }
    em {
      font-family: $font-sans;
    }
    ol,
    ul
    {
      margin: 0 0 1rem;
      padding-left: 0;
      padding-top: 0;

        ol,ul {
          padding-top: 0.6em;
          margin-left: 1.4em;
          list-style: disc;
        }
    }

    p,
    li {
     line-height: 1.4em;
     margin-bottom: 0.6em;
    }

    .method--section--government-considerations {
 	    line-height: 1.3em;
      font-family: $font-sans;
      font-size: $font-xs;

      h1 {
        font-size: $font-m;
      }
      ul {list-style:none;padding-left:0;}
 }

    :last-child { margin-bottom: 0; }

}

  &::after {
    clear: both;
    content: '';
    display: table;
}

}



.category--discover .method--title {
  border-color: $color-blue;
}


.category--decide .method--title {
  border-color: $color-green;
}

.category--make .method--title {
  border-color: $color-gold;
}

.category--validate .method--title {
  border-color: $color-red;
}

.category--fundamentals .method--title {
  border-color: $color-blue-dark;
}
