body {
  background: white;
  color: black;
  font-size: 10pt;
  padding: 0;
  -webkit-print-color-adjust: exact;
}

a {
  color: inherit;
}


.wrapper {
  margin: 0;
  max-width: none;
}

@page {
  margin: 0;
  size: landscape;
}

.category {
  background: white;
  page-break-after: always;
}

.no-print,
header.banner,
.usa-header-extended,
.category--header,
.method--section--18f-example,
.method--section--additional-resources {
  display: none;
}

.usa-section {
  padding: 0 !important;
}

.method,
.layout--card .method {
  border: 1px dashed #ccc;
  border-radius: 0;
  box-shadow: none;
  height: 6.5in;
  margin: 0;
  margin-left: 1.25in;
  margin-top: 1.25in;
  page-break-after: always;
  width: 8in;
}


.anchor {
  display: none;
}

.site-header::before,
.site-header::after,
.category--header::before,
.category--header::after,
.method::before,
.method::after {
  font-family: $font-sans;
  font-size: 10pt;
  font-weight: bold;
  height: .4in;
  line-height: 1.3;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: .4in;
}

.method::before {
  bottom: 100%;
  content: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjIuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA1Ny4zIDY0LjciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDU3LjMgNjQuNzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiMwMDAwMDA7c3Ryb2tlLXdpZHRoOjI7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEwO30KCS5zdDF7ZW5hYmxlLWJhY2tncm91bmQ6bmV3ICAgIDt9Cjwvc3R5bGU+CjxwYXRoIGQ9Ik01NC4xLDIuOWMtMC4yLTAuMS0wLjUtMC4yLTAuNy0wLjJMMS45LDMuOUwyLDUuM2gwLjF2NTMuOWMwLDAuNCwwLjQsMC42LDAuOSwwLjdsNDEuOSwzSDQ1YzAuMiwwLDAuNS0wLjEsMC43LTAuMgoJYzAuMi0wLjEsMC4zLTAuNCwwLjMtMC41di01LjZsNy42LTAuNWMwLjUsMCwwLjktMC40LDAuOS0wLjdWMy41QzU0LjQsMy4yLDU0LjMsMy4xLDU0LjEsMi45eiBNNDMuOSw2MS41TDQsNTguNlY1LjVsMzkuOSwyLjlWNjEuNQoJeiBNNTIuNCw1NC43bC02LjUsMC40VjcuN0M0NS45LDcuMyw0NS41LDcsNDUsN0wxNy4xLDVsMzUuMy0wLjhMNTIuNCw1NC43TDUyLjQsNTQuN3oiLz4KPC9zdmc+) 'Fold';
  left: 50%;
  margin-bottom: .5in;
  margin-left: -.2in;
}

.method::after {
  content: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjIuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA4Mi41IDgyLjMzIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA4Mi41IDgyLjMzOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6bm9uZTtzdHJva2U6IzAwMDAwMDtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbGluZWpvaW46cm91bmQ7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fQo8L3N0eWxlPgo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzEuMTIsNjEuOTFsLTEuMDItMi40N2wtNS41MiwyLjI4bDYuMDksMTQuNjljMS42OSw0LjA2LDYuMzUsNS45OCwxMC40MSw0LjN2MAoJYzQuMDYtMS42OCw1Ljk5LTYuMzMsNC4zMS0xMC4zOWwwLDBjLTAuODQtMi4wMy0yLjQyLTMuNTItNC4zMS00LjMxTDMxLjEyLDYxLjkxeiIvPgo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNNDEuNzIsNzEuODZjLTAuNDItMS4wMi0xLjIxLTEuNzYtMi4xNi0yLjE1bC04Ljg4LTMuNjhsMy42OCw4Ljg2YzAuODUsMi4wMywzLjE3LDIuOTksNS4yLDIuMTVsMCwwCglDNDEuNiw3Ni4yMiw0Mi41Niw3My44OSw0MS43Miw3MS44Nkw0MS43Miw3MS44NnoiLz4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTE5LjI2LDQ2LjI5bC03LjYyLTE4LjM3TDE5LjI2LDQ2LjI5eiIvPgo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjguMjYsNjAuMjFMMTMuMDMsMjMuNDhjLTIuNjYsNi40Mi0yLjg3LDEzLjg2LDAsMjAuNzlsNC44MywxMS42NGw1Ljk3LDMuOTlsMC43NiwxLjgzTDI4LjI2LDYwLjIxeiIvPgo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTUuODcsNjEuOTFsMS4wMi0yLjQ3bDUuNTIsMi4yOGwtNi4wOSwxNC42OWMtMS42OCw0LjA2LTYuMzQsNS45OC0xMC40LDQuM3YwCgljLTQuMDYtMS42OC01Ljk5LTYuMzMtNC4zMS0xMC4zOWwwLDBjMC44NC0yLjAzLDIuNDMtMy41Miw0LjMxLTQuMzFMMTUuODcsNjEuOTF6Ii8+CjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik01LjI4LDcxLjg2YzAuNDItMS4wMiwxLjIxLTEuNzYsMi4xNi0yLjE1bDguODgtMy42OGwtMy42OCw4Ljg2Yy0wLjg0LDIuMDMtMy4xNywyLjk5LTUuMiwyLjE1bDAsMAoJQzUuNDEsNzYuMjIsNC40NCw3My44OSw1LjI4LDcxLjg2TDUuMjgsNzEuODZ6Ii8+Cjxwb2x5Z29uIGNsYXNzPSJzdDAiIHBvaW50cz0iMTkuOTQsNTcuMyAxOC43NCw2MC4yMSAyMi40MSw2MS43MyAyMy4xNyw1OS45IDIzLjUsNTkuNjggIi8+Cjxwb2x5Z29uIGNsYXNzPSJzdDAiIHBvaW50cz0iMjkuNjMsNTQuNzEgMjkuNjMsMzMuOTMgMjMuNDksNDguNzMgMjcuMDUsNTcuMyAyOS4xMyw1NS45MSAiLz4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTgxLDEwLjY3djQuNjdWMTAuNjd6Ii8+CjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik04MSwyMC4wMXY0LjY3VjIwLjAxeiIvPgo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNODEsMjkuMzV2NC42N1YyOS4zNXoiLz4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTgxLDM4LjY5djQuNjdWMzguNjl6Ii8+CjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik04MSw0OC4wNHY0LjY3VjQ4LjA0eiIvPgo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNODEsNTcuMzh2NC42N1Y1Ny4zOHoiLz4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTI5LjYzLDEwLjY3djQuNjdWMTAuNjd6Ii8+CjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0yOS42MywyMC4wMXY0LjY3VjIwLjAxeiIvPgo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjkuNjMsMjkuMzV2NC42N1YyOS4zNXoiLz4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTM4Ljk3LDEuMzNoNC42N0gzOC45N3oiLz4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTQ4LjMxLDEuMzNoNC42N0g0OC4zMXoiLz4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTU3LjY1LDEuMzNoNC42N0g1Ny42NXoiLz4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTY2Ljk5LDEuMzNoNC42N0g2Ni45OXoiLz4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIyOS42Myw2IDI5LjYzLDEuMzMgMzQuMywxLjMzIDI5LjYzLDEuMzMgIi8+Cjxwb2x5Z29uIGNsYXNzPSJzdDAiIHBvaW50cz0iODEsNiA4MSwxLjMzIDgxLDEuMzMgNzYuMzMsMS4zMyA4MSwxLjMzIDgxLDEuMzMgIi8+Cjxwb2x5Z29uIGNsYXNzPSJzdDAiIHBvaW50cz0iODEsNjYuNzEgODEsNzEuMzkgODEsNzEuMzkgNzYuMzMsNzEuMzkgODEsNzEuMzkgODEsNzEuMzkgIi8+CjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik02Ni45OSw3MS4zOWg0LjY3SDY2Ljk5eiIvPgo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNNTcuNjUsNzEuMzloNC42N0g1Ny42NXoiLz4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTQ4LjMxLDcxLjM5aDQuNjdINDguMzF6Ii8+Cjwvc3ZnPg==) 'Cut';
  margin-right: .33in;
  margin-top: -.275in;
  right: 100%;
  top: 50%;
}


.method .method--panel--front,
.method .method--panel--back {
  box-sizing: border-box;
  float: left;
  height: 6.5in;
  overflow: hidden;
  padding: .25in .3in;
  position: relative;
  width: 50%;
}

.method .method--panel--front footer {
  bottom: 0;
  display: table;
  left: 0;
  padding: 0 30px 20px;
  position: absolute;
  width: 100%;
}

.method .method--panel--back {
  background: none;
  border-left: 1px solid #f1f1f1;
  float: right;
  font-size: 9pt;
}

.method {
  background: white;
  border-radius: 0;
  clear: both;
  position: relative;
}

.method:target {
  border-color: inherit;
  box-shadow: none;
}

.method--title {
  font-size: 23pt !important;
  margin-top: 10px !important;
  padding-top: 15px !important;
  a {
    text-decoration: none;
  }
}
.method h1 {
  font-size: 14pt;
}
.method h2 {
  font-size: 14pt;
}

.method .method--panel--front p {
  font-size: 10.5pt;
  font-weight: normal;
  line-height: 1.3;
}

.method .method--panel--back h1,
.method .method--panel--back h2 {
  font-size: 11pt;
}

.method .method--panel--back h3 {
  font-size: 10pt;
  font-weight: 400;
  margin-bottom: .6rem;
  margin-top: 0;
}

.method .method--panel--back {
  font-size: 9pt;
}

.method .method--panel--back {
  :first-child {
    margin-top: .6em;
  }
}

.method .method--panel--back::after {
  border-top: 1px solid #f1f1f1;
  bottom: .1in;
  bottom: .3125in;
  content: 'Learn more: methods.18f.gov';
  display: block;
  font-family: $font-sans;
  font-size: 8pt;
  font-style: italic;
  left: .25in;
  padding-top: .0625in;
  position: absolute;
  right: .25in;
}
.method .method--section--category {
  min-width: 0;
  padding-right: .5in;
}

.layout--example-usability-test-script .page,
.layout--example-design-research-participant-agreement .page,
.layout--interview-checklist .page {
  font-size: 12pt;
}

.layout--example-usability-test-script h1,
.layout--example-usability-test-script p,
.layout--example-interview-debrief-worksheet h1,
.layout--example-interview-debrief-worksheet p{
  max-width: none;
}

.layout--example-usability-test-script h1,
.layout--example-user-interview-script h1,
.layout--example-interview-debrief-worksheet h1{
    font-size: 20pt;
    margin-top: 0 !important;
}

.layout--example-usability-test-script h2,
.layout--example-interview-debrief-worksheet h2,
.layout--example-user-interview-script h2{
  font-size: 16pt;
}

.layout--example-usability-test-script h3,
.layout--example-interview-debrief-worksheet h3,
.layout--example-user-interview-script h3{
  font-size: 14pt;
}

.layout--interview-checklist .page h1#interview-checklist{ margin-top: 0 ; }

.layout--example-design-research-participant-agreement .page{
  height: 11in;
  padding: 1in;
  width: 8.5in;
}

.layout--example-design-research-participant-agreement .page p,
.layout--example-design-research-participant-agreement .page li,
.layout--interview-checklist .page p,
.layout--interview-checklist .page li {
  line-height: 1.4em;
}

.layout--example-design-research-participant-agreement main ul + hr + p {
  line-height: 1.2em;
}

.layout--example-design-research-participant-agreement .page h1 {
  font-size: 16pt;
  margin-top: 0;
}

.layout--example-design-research-participant-agreement table td {
  padding: 1rem;
}

.layout--example-design-research-participant-agreement main footer {
  border: none;
  margin-bottom: 0;
}
.layout--example-design-research-participant-agreement main footer ol {
  padding: 0;
}
.layout--example-design-research-participant-agreement main footer li p,
.layout--example-design-research-participant-agreement main footer li {
  font-size: 8pt;
}

.layout--example-design-research-participant-agreement main footer a[aria-label] {
  display: none;
}
