body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: $base-font-size;
}

.methods-listing ul{ 
  padding: 0; 
  list-style-type: none;
}

.layout--card .method { margin: 0 0 2em 0; }

.layout--page main {
    max-width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px 60px;
}

.layout--page.layout--methods main {
  padding: 0;
  max-width: none;
}


@media screen and (min-width: 853.33px) {

  .layout--page main { padding-right: 25%; }
  .layout--page.layout--methods main { padding-right: 0; }

  h3 {
    font-size: $h4-font-size;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: .6rem;
  }
}
