
body {
  background: $color-inverse;
  font-family: $font-sans;
  font-size: $base-font-size;
}

p {
  max-width: 40em;
}

.usa-font-lead{
  max-width: 20em;
  display: block;
}
.usa-font-lead span{
  white-space: nowrap;
}

.list-unstyled {
  padding-left: 0;

  &:hover {
    text-decoration: underline;
  }
}

.layout--secondary {
  h1 {
    font-family: $font-sans;
    font-size: $h1-font-size;
  }
  h2 {
    font-family: $font-sans;
    font-size: $h2-font-size;
  }
  h3 {
    font-family: $font-sans;
    font-size: $h3-font-size;
  }
}
