body {
  font-family: $font-sans;
  font-size: $base-font-size;
}

.list-unstyled {
  padding-left: 0;

  &:hover {
    text-decoration: underline;
  }
}

html, body{
    background: #eee;
    color: #555;
}

main{
    background: white;
    color: #333;
    padding-top: 1px;
    padding-bottom: 4em;
}

.layout--introduction main,
.layout--card .usa-section{ padding: 0 }
.layout--card .method{ margin: 2em 0; }

@media screen and (min-width: 951px) {
.layout--introduction .usa-header{ border-bottom: none;}
}

@media screen and (min-width: 853.33px) {
  .layout--about .page,
  .layout--example-design-research-participant-agreement .page{
    max-width: 32em;
  }
}
