body {
  font-family: $font-sans;
  font-size: $base-font-size;
}

.list-unstyled {
  padding-left: 0;

  &:hover {
    text-decoration: underline;
  }
}

//.layout--introduction main,
//.layout--category main,
// .layout--card .usa-section{ padding: 0 }
.layout--card .method {
  margin: 0 0 2em 0;
}

.layout--page main {
  padding-bottom: 8em;
}

@media screen and (min-width: 853.33px) {
  .layout--about .page,
  .layout--example-design-research-participant-agreement .page {
    max-width: 32em;
  }
  h3 {
    font-family: $font-sans;
    font-size: $h4-font-size;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: .6rem;
  }
}
