.layout--card {
  .category--header {
    border-radius: 0;
    margin-top: 0;
  }
}

.card-header {
  img {
    margin-right: .2em;
    position: relative;
    top: -1px;
    vertical-align: middle;
  }

  a:last-child {
    margin-right: 0;
  }
}
