.banner {
  position: sticky;
  top: 0;
  z-index: 300; // matches 300 z-index of .usa-header
  background-color: white;
}

@include at-media('desktop') {
  .banner {
    position: relative;
  }

  .usa-header {
    &.sticky {
      position: sticky;
      top: 0;
      z-index: 300; // matches 300 z-index of .usa-header
    }
  }
}
