.usa-intro {
  font-family: $theme-font-type-sans;
  font-size: $theme-h2-font-size;
  font-weight: bold;
  letter-spacing: .5px;
  line-height: 1.3;
}

// 18F Button styles
.usa-button,
.usa-button:visited,
button,
[type='button'],
[type='submit'],
[type='reset'],
[type='image'] {
  background-color: $color-medium;
  font-family: $theme-font-type-sans;
  width: auto;
  display: inline-block;

  &:hover {
    background-color: $color-medium-hover;
  }

  &.usa-button-secondary,
  &.usa-button-secondary:visited {
    background-color: $color-inverse;
    color: $color-black;

    &:hover {
      background-color: $color-gray-lightest;
    }
  }
}
