html,
body {
  background: $color-inverse;
  color: #555;
}

main {
  background: $color-inverse;
  color: $color-gray-dark;
  padding-bottom: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}

h1 {
  margin-top: 1em;
}
.usa-banner {
  background-color: $color-gray-light;
  height: 2.3rem;
}

.usa-banner-header {
  font-size: 1.1rem;
  line-height: 1.2em;
  padding-bottom: .4em;

  & img {
    margin-right: .7rem;
    position: relative;
    top: .25em;
    width: 1.33rem;
  }
}

.usa-skipnav:focus {
  z-index: 10000;
}

.usa-nav-primary button:hover,
.usa-nav-secondary-links a:hover {
  background-color: $color-gray-lightest;
  color: $color-black;
}

.usa-header-extended .usa-nav {
  border: 0;
}

.usa-header-extended .usa-logo {
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.usa-navbar {
  height: 6.5rem;
}

.usa-nav-link,
.usa-nav-secondary-links {
  font-family: $font-sans;
  font-weight: bold;
}

.usa-logo {
  position: relative;
}

.usa-logo a,
.usa-logo a:visited {
  color: $color-black;
}

.usa-logo img {
  margin-bottom: -1rem;
  margin-top: 1rem;
  max-width: 4.4rem;
}

// bottom border for nav hover state
.usa-nav-link:hover span {
  padding-bottom: 1.2rem;
}

.usa-font-lead {
  font-family: $font-sans;
  font-size: $h2-font-size;
  font-weight: bold;
  letter-spacing: .5px;
  line-height: 1.3;
}

.usa-nav-secondary {
  li {
    padding-left: 0;
  }

  a {
    padding: 1.7rem 1.5rem;
  }
}

// Removing pipe between secondary nav links
.usa-nav-secondary-links li:not(:last-child)::after {
  content: '';
  padding: 0;
}

@media screen and (max-width: 950px) {
  .banner {
    border-bottom: 0;
  }

  .usa-nav-secondary {
    li {
      border-top: 1px solid #5b616b;
      color: $color-black;
      font-size: 1.7rem;
      line-height: 1;
      margin-bottom: 0;
    }

    a {
      -webkit-font-smoothing: antialiased;
      color: $color-black;
      display: block;
      font-size: $base-font-size;
      font-weight: 400;
      padding: 1.4rem 1.5rem 1rem 1.8rem;
    }
  }
}

@media screen and (min-width: 951px) {
  .usa-logo a:before {
    display: none;
  }

  .usa-logo img {
    display: inline-block;
  }
}

@media screen and (max-width: 950px) {
  .usa-logo-text {
    font-size: 2rem;
  }

  .usa-nav-primary > li {
    border-top: 1px solid $color-gray;
  }
}

@media screen and (min-width: 1201px) {
  .usa-nav-submenu {
    background-color: $color-blue-dark;
    border: 1px solid $color-inverse;
    border-top: 0;

    a {
      font-family: $font-sans;
    }
  }

  .usa-nav-primary button[aria-expanded=true],
  .usa-nav-primary button[aria-expanded=true]:hover {
    background-color: $color-blue-dark;
    color: $color-inverse;
  }
}

@media screen and (max-width: 950px) {
  .usa-nav-primary button,
  .usa-nav-secondary a {
    color: #5b616b;
    font-size: $h5-font-size;
    font-weight: bold;
  }

  .usa-nav-primary a {
    font-family: $font-sans;
    font-size: $h5-font-size;
  }

  .usa-nav-secondary li {
    border: 0;
  }
}

// Mobile menu button styles

.usa-menu-btn {
  background-color: $color-medium;
  border-radius: 3px;
  color: $color-inverse;
  display: inline;
  float: right;
  font-size: $h6-font-size;
  font-weight: bold;
  height: 4rem;
  line-height: 4rem;
  margin-right: 2rem;
  margin-top: 1.2rem;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  width: 5.8rem;

  @media screen and (min-width: 951px) {
    display: none;
  }

  &:hover {
    background-color: $color-dark;
    color: $color-inverse;
  }

  &:visited {
    color: $color-inverse;
  }
}

// 18F Button styles
.usa-button,
.usa-button:visited,
button,
[type='button'],
[type='submit'],
[type='reset'],
[type='image'] {
  background-color: $color-medium;
  font-family: $font-sans;
  width: auto;
  display: inline-block;

  &:hover {
    background-color: $color-medium-hover;
  }

  &.usa-button-secondary,
  &.usa-button-secondary:visited {
    background-color: $color-inverse;
    color: $color-black;

    &:hover {
      background-color: $color-gray-lightest;
    }
  }
}
