
$font-sans-narrow: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-sans: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-serif: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-serif-2: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$font-xs: 1.3rem;
$font-s: 1.5rem;
$font-m: 1.8rem;
$font-l: 2.1rem;
$font-xl: 4.2rem;

$color-blue: #5CAED7;
$color-green: #58B84F;
$color-gold: #F3CD32;
$color-red: #E67E37;
$color-blue-dark: #1C304A; // 18F brand color $color-dark
$color-gray-darkest: #222;
$color-gray-dark: #333;
$color-gray: #ddd;
$color-gray-light: #f1f1f1; // 18F brand color $color-gray-lightest
$color-gray-lightest: #fafafa; // 18F brand color $color-gray-hover
$color-truewhite: #fff;
$color-trueblack: #000;
