
// Typography
// $font-sans: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; //from uswds 1
// $theme-font-type-sans: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;


$h1-font-size: 3.4rem;
$h2-font-size: 2.2rem;
$h3-font-size: 1.6rem;
$h4-font-size: 1.4rem;
$h5-font-size: 0.9rem;
$h6-font-size: 0.8rem;

$base-font-size: 1.7rem;
$small-font-size: 0.9rem;
$tiny-font-size: 0.75rem;

$paragraph-line-height: 1.5;


// Colors
$color-blue: #5CAED7; // closest to $blue-cool-30v
$color-green: #58B84F; // closest to $green-30v
$color-gold: #F3CD32; // closest to $yellow-20v
$color-red: #E67E37; // closest to $orange-40
$color-blue-dark: #1C304A; // 18F brand color $color-dark
$color-gray-darkest: #222;
$color-gray-dark: #333;
$color-gray: #ddd;

// Category colors
$color-discover: $color-blue;
$color-discover-text: #0d7ea2; // $blue-cool-50v
$color-make: $color-gold;
$color-make-text: #947100; // $yellow-50v
$color-validate: $color-red;
$color-validate-text: #a86437; // $orange-50
$color-decide: $color-green;
$color-decide-text: #538200; // $green-50v
$color-fundamentals: $color-blue-dark;
$color-fundamentals-text: $color-blue-dark;

// 18F brand colors
$color-light:        #b3efff; // $color-light / $color-secondary-light
$color-bright:       #00cfff; // $color-bright / $color-secondary
$color-medium:       #046b99; // $color-medium / $color-primary
$color-dark:         #1C304A; // $color-dark / $color-primary-dark

$color-bright-hover: #00A7CE;
$color-medium-hover: #00547A;

$color-gray-light: #f1f1f1; // 18F brand color $color-gray-lightest
$color-gray-lightest: #fafafa; // 18F brand color $color-gray-hover
$color-inverse: #fff; // 18F brand color
$color-black: #000; // 18F brand color
