
$font-sans-narrow: PT Sans Narrow, Trebuchet MS, Verdana, sans-serif;
$font-sans: PT Sans, Trebuchet MS, Verdana, sans-serif;
$font-serif: Neuton, PT Serif, Georgia, serif;
$font-serif-2: PT Serif, Georgia, serif;

$font-xs: 1.3rem;
$font-s: 1.5rem;
$font-m: 2.1rem;
$font-l: 2.6rem;
$font-xl: 4.2rem;

$color-blue: #205493;
$color-green: #29863c;
$color-gold: #fac72f;
$color-red: #8b1625;
$color-darkgray: #333;
$color-lightgray: #eee;
$color-lightestgray: #fafafa;
$color-mediumgray: #ddd;
$color-truewhite: #fff;
$color-trueblack: #000;
