/* @override http://localhost:4000/stylesheets/screen.css */

/* @override http://localhost:4000/stylesheets/screen.css */

/* @override http://localhost:4000/stylesheets/screen.css */

/* @group bootstrap */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background: #eee;
  padding: 1em;
  font-family: PT Sans, Trebuchet MS, Verdana, sans-serif;
  font-size: 18px;
}

a{
  text-decoration: none;
  color: #205493;
}

a:hover{
	text-decoration: underline;
}

.wrapper{
  max-width: 960px;
  margin: 0 auto;
}

/* @end */

/* @group site-header */

.site-header{
  margin-top: 1em;
}

.site-header h1 a{
  text-decoration: none;
  color: inherit;
}

.site-header h1 img{
	vertical-align: middle;
	width: 60px;
	border-radius: 3px;
	position: relative;
	top: -3px;
	margin-right: 2px;
}

.site-header h1{
	font-size: 36px;
	vertical-align: middle;  
	margin-bottom: 0.4em;
	font-family: PT Sans Narrow, Trebuchet MS, Verdana, sans-serif;
	font-weight: 300;
}

.site-header p{
	font-size: 24px;
	max-width: 33em;
    font-family: PT Sans, Trebuchet MS, Verdana, sans-serif;
	line-height: 1.4em;
	font-weight: 400;
	color: #333;
	margin-bottom: 2em;  
}



/* @end */

/* @group method */

.method{
  background: white;
  margin-bottom: 1em;
  border-bottom: none;
  position: relative;
  font-family: Karma, Georgia, serif;
  font-weight: 400;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.method .method--panel{ padding: 10px; }

.method .method--panel--back{
	font-size: 16px;
	font-weight: 500;
	border: 1px solid #ccc;
}

.method .method--section--government-considerations h1{
	font-size: 14px;
	padding-top: 0.4em;
	margin-bottom: 0.5em;
	color: #333;
}
.method .method--section--government-considerations p{
	font-size: 13px;
    font-family: PT Sans, Trebuchet MS, Verdana, sans-serif;
}

.method .method--panel--back p,
.method .method--panel--back li{
	line-height: 1.33em;
	margin-bottom: 0.6em;
}

.method .method--section--how h1{ margin-top: 0.4em; }

.method .method--title{
	font-size: 42px;
	font-weight: 600;
	font-family: PT Sans Narrow;
	margin-top: 0.4em;
	letter-spacing: -0.02em;
	margin-bottom: 0.4em;
}

.method .method--title a{ color: inherit;}

.method h1{
	margin-top: 1.2em;
	margin-bottom: 0.6em;
	font-size: 20px;
	font-family: PT Sans;
	font-weight: 700;
}

.method p,
.method li{
	line-height: 1.4em;
	margin-bottom: 0.6em;
}

.method ol{
  margin-left: 1.2em;
}
.method ol li{
	list-style-type: decimal;
}

.method::after{
	content: "";
	display: table;
	clear: both;
}

@media screen and (min-width:853.333px){

	.method .method--panel--front,
	.method .method--panel--back{
		float: left;
		width: 50%;	
		min-height: 560px;
	}
	.method .method--panel--front{
  		padding: 20px 30px;
	}

	.method .method--panel--back{
		background: #fafafa;
		padding: 10px 20px;
		border: none;
		border-radius: 0 2px 2px 0;
	}  
}



/* @end */

/* @group category */

.category--header{
	background: #205493;
	color: white;
	padding: 20px;
	border-radius: 3px;
	margin-bottom: 1em;
	margin-top: 3em;
}

.category--discover .method h1.method--title{ color: #205493;}

.category--decide .category--header{ background: #29863c; }

.category--decide .method h1.method--title{ color: #29863c;}

.category--make .category--header{ background: #fac72f; color: #222;}
.category--validate .category--header{ background: #8b1625; }

.category--title{
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 0.2em;
}

.category--subtitle{
	display: inline;
    font-family: PT Sans, Trebuchet MS, Verdana, sans-serif;
	font-size: 16px;
}



/* @end */


