/* @override http://localhost:4000/stylesheets/screen.css */

/* @override http://localhost:4000/stylesheets/screen.css */

/* @override http://localhost:4000/stylesheets/screen.css */

/* @group bootstrap */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background: #eee;
  padding: 1em;
  font-family: PT Sans, Trebuchet MS, Verdana, sans-serif;
  font-size: 18px;
}

a{
  text-decoration: none;
  color: #205493;
}

a:hover{
	text-decoration: underline;
}

.wrapper{
  max-width: 960px;
  margin: 0 auto;
}

/* @end */

/* @group site-header */

.site-header{ margin-top: 1em; }

.site-header .logo a{
  text-decoration: none;
  color: inherit;
}

.site-header .logo img{
	vertical-align: middle;
	width: 60px;
	border-radius: 3px;
	position: relative;
	top: -3px;
	margin-right: 2px;
}

.site-header .logo{
	font-size: 36px;
	vertical-align: middle;
	margin-bottom: 0.4em;
	font-family: PT Sans Narrow, Trebuchet MS, Verdana, sans-serif;
	font-weight: 300;
}

.site-header .wrapper p{
	font-size: 24px;
	max-width: 33em;
    font-family: PT Sans, Trebuchet MS, Verdana, sans-serif;
	line-height: 1.4em;
	font-weight: 400;
	color: #333;
	margin-bottom: 2em;
}

.site-header .footer{
  font-family: Karma, Georgia, serif;
  font-weight: 400;
	font-size: 0.85em;
	line-height: 1.33em;
	font-weight: 500;
	display: none;
}

.site-header .footer h1{
	margin-top: 1.2em;
	margin-bottom: 0.6em;
	font-size: 1.1em;
	font-family: PT Sans;
	font-weight: 700;
	color: #333;
}

/* @end */

/* @group category */

.category--header{
	background: #205493;
	color: white;
	padding: 20px;
	border-radius: 3px;
	margin-bottom: 1em;
	margin-top: 3em;
	font-size: 14px;
}

.category--header ul{
  margin-top: 0.4em;
  list-style-type: disc;
  margin-left: 1.4em;
}

.category--header ul li{
	margin-bottom: 0.4em;
}

.category--header a{
	color: white;
	text-decoration: underline;
}

.category--header a:hover{ text-decoration: none; }

.category--discover .method h1.method--title{ color: #205493;}

.category--decide .category--header{ background: #29863c; }

.category--decide .method h1.method--title{ color: #29863c;}

.category--make .category--header{ background: #fac72f; color: #222;}
.category--validate .category--header{ background: #8b1625; }

/* Testing out an underline for the titles */
.category--validate .method h1.method--title{ border-bottom: 8px solid #8b1625;line-height: 3.5rem;}

.category--title{
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 0.2em;
}

.category--subtitle{
	display: inline;
    font-family: PT Sans, Trebuchet MS, Verdana, sans-serif;
	font-size: 16px;
}



/* @end */

/* @group method */

.method{
  background: white;
  margin-bottom: 1em;
  border-bottom: none;
  position: relative;
  font-family: Karma, Georgia, serif;
  font-weight: 400;
  border: 1px solid #ddd;
  border-radius: 3px;
	height: 42rem;
  display:table;
  width:100%;
}

.method:target{
  border-color: #aaa;
  box-shadow: 2px 2px 0 0 #e3e3e3;
}

.method .method--panel{
	padding: 20px;
	/*height: 41.89rem;*/
}

.method .method--section--category h1,
.method .method--section--time-required h1{
	font-size: 0.67rem;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 0.4em;
}

.method .method--section--category p,
.method .method--section--time-required p{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.method .method--section--category,
.method .method--section--time-required{
	position: absolute;
	bottom: 1em;
	left: 20%;
	width: 14em;
	border-top: 1px solid #ccc;
}

.method .method--section--category{
	left: 2rem;
}

.method .method--panel--back{
	font-size: 0.85em;
	font-weight: 500;
	border: 1px solid #ccc;
}

.method .method--panel--back h1{
	color: #000;
}
.method .method--panel--back .method--section--government-considerations p{
	font-size: 0.85em;
	line-height: 1.25em;
    font-family: PT Sans, Trebuchet MS, Verdana, sans-serif;
    max-width: none !important;
	text-align: justify;
	word-break: break-all;
    word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

.method .method--panel--back p,
.method .method--panel--back li{
	line-height: 1.33em;
	margin-bottom: 0.6em;
	max-width: 25em;
}

.method .method--title{
	font-size: 42px;
	font-weight: 600;
	font-family: PT Sans Narrow;
	margin-top: 0.4em;
	letter-spacing: -0.02em;
	margin-bottom: 0.4em;
}

.method h1{
	margin-top: 1.2em;
	margin-bottom: 0.6em;
	font-size: 1.1em;
	font-family: PT Sans;
	font-weight: 700;
	color: #333;
}

.method .method--section--how h1{
	margin-top: 1em;
	margin-bottom: 0.8em;
}

.method p,
.method li{
	line-height: 1.4em;
	margin-bottom: 0.6em;
	max-width: 30em;
}
.method ol li{
	list-style-type: decimal;
}

.method .method--title a{ color: inherit;}

.method::after{
	content: "";
	display: table;
	clear: both;
}

@media screen and (min-width:853.333px){

	.method .method--panel--front,
	.method .method--panel--back{
		/*float: left;*/
		width: 50%;
		/* min-height: 560px;*/
    display: table-cell;
	}
	.method .method--panel--front{
  		padding: 20px 30px;
	}

	.method .method--panel--back{
		background: #fafafa;
		padding: 25px 40px;
		border: none;
		border-radius: 0 2px 2px 0;
	}
}



/* @end */
