<!DOCTYPE html>
<html lang='en'>
  {% include head.html %}
  <body class="layout--card category--{{page.category | downcase }}">
    {% include category-setup.html %} {% include header.html %}
    <main id="main" role="main">
      <section class="category category--{{page.category | downcase }} usa-section usa-prose">
        <header class="category--header" aria-labelledby="{{method_category.title | downcase }}">
          <div class="grid-container">
            {% assign method_category = site.pages | where: "title", page.category | first %}
            <span class="category--title" id="{{method_category.title | downcase }">{{method_category.title | capitalize }}</span>
            <p class="category--subtitle">{{method_category.description}}</p>
          </div>
        </header>
        <div class="grid-container">
          {% include method-print-header.html %} {% include method.html %}
        </div>
      </section>
    </main>
    {% include footer.html %}
  </body>
</html>
